# dependencies
/server/node_modules
/client/node_modules

#config
/server/src/config

# testing
/client/coverage

# production
/client/build

# misc
/client/.DS_Store
/server/src/.env
/client/src/.env
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/src/firebase.js

# settings
/package-lock.json
